.box{
    flex: 33.99%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size:xx-large;
    font-weight: bolder;
    color: #4a1205;


}

.box:active {
    background-color: whitesmoke;
}

